<%= form_with(model: [@real_estate_broker, Opinion.new ], local: true) do |f| %>
    <% if opinion.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(opinion.errors.count, "error") %> No es posible guardar esta reseña:</h2>

          <ul>
            <% opinion.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<div class="container text-center">
    <div class="form-group">
      <div id="star-rating"></div>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :Escribe_tu_reseña %>
      <%= f.text_field :comment %>
    </div>
    <br>
    <div class="actions">
    <%= f.submit class:"btn btn-info" %>
    </div>

<% end %>
</div>
<script>
	$('#star-rating').raty({
	  path: '/assets/',
	  scoreName: 'opinion[rating]'
	});
</script>