<%= form_with(model: real_estate_broker, local: true) do |form| %>
  <% if real_estate_broker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(real_estate_broker.errors.count, "error") %> No es posible guardar esta Corredora:</h2>

      <ul>
        <% real_estate_broker.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="form-group">
      <%= form.label :Nombre_Corredora %>
      
      <%= form.text_field :name, placeholder: "Ingresa el nombre de la corredora", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :Rut %>
      <%= form.text_field :rut, placeholder: "Ingresa el rut de la corredora",class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :Agente %>
      <%= form.text_field :agent, placeholder: "Ingresa el nombre del Agente o Corredor", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :Mail %>
      <%= form.email_field :mail, placeholder: "Ingresa el email de contacto de la corredora", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :Teléfono_o_Celular %>
      <%= form.text_field :phone, placeholder: "Ingresa el número de teléfono o celular de la corredora",class:"form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :Imágen %> <br>
      <%= form.file_field :image%>
    </div>

    <div class="actions text-center">
      <%= form.submit class:"btn btn-success"%>
    </div>
  </div>  
<% end %>


