 <div class= "col mb-2">
    <div class="card h-100">
      <%if real_estate_broker.image.attached?%>
        <div class="text-center">
          <%= image_tag real_estate_broker.image.variant(resize: "100x100"), class:"card-img-top mt-2"%> 
        </div>
      <%else%>
        <div class="text-center">
          <%= image_tag 'broker-default.svg', size: "100x100", class:"card-img-top mt-2"%> 
        </div>
      <%end%>  
        <div class="card-body">
          <h5 class="card-title"><%= real_estate_broker.name  %></h5>
          <p class="card-text"><%= real_estate_broker.rut %></p>
          <p class="card-text"><%= real_estate_broker.agent %></p>
          <p class="card-text"><%= real_estate_broker.mail %></p>
          <p class="card-text"><%= real_estate_broker.phone %></p>
          <h5 class="star-rating" data-score=<%= real_estate_broker.average_opinion %>></h5>
          <%= link_to "Escribe una reseña", new_real_estate_broker_opinion_path(real_estate_broker), 'data-remote': true, class: "btn btn-info" %>
          <%if real_estate_broker.opinions.any?%>
            <p>Te gustaría dejar una reseña?</p>
          <%else%>
            <p>Aun no hay reseñas, se el primero!</p>
          <%end%>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= link_to 'Ver mas', real_estate_broker, class: "btn btn-success" %>
          </div>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= link_to 'Editar', edit_real_estate_broker_path(real_estate_broker), class: "btn btn-secondary" %>
          </div>
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= link_to 'Eliminar', real_estate_broker, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></h5>
          </div>
        </div>
    </div>  
</div>