 <div class= "card-deck d-flex justify-content-around">
    <div class="card m-4 col-xs-8 col-md-6 card-index">
      <%= image_tag real_estate_broker.image.variant(resize: "100x100") if real_estate_broker.image.attached?%> 
        <div class="text-center">
          <%= image_tag 'broker-default.svg', size: "60x60", class:"rounded" if !real_estate_broker.image.attached?%> 
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= real_estate_broker.name  %></h5>
          <h5 class="card-title"><%= real_estate_broker.rut %></h5>
          <h5 class="card-title"><%= real_estate_broker.agent %></h5>
          <h5 class="card-title"><%= real_estate_broker.mail %></h5>
          <h5 class="card-title"><%= real_estate_broker.phone %></h5>
          <h5 class="star-rating" data-score=<%= real_estate_broker.average_opinion %>></h5>
          <%= link_to "Escribe una reseña", new_real_estate_broker_opinion_path(real_estate_broker), 'data-remote': true, class: "btn btn-info" %>
          <%if real_estate_broker.opinions.any?%>
          <h4>Te gustaría dejar una reseña?</h4>
          <%else%>
          <h4>Aun no hay reseñas, te gustaría dejar una?</h4>
          <%end%>
          <h5><%= link_to 'Ver mas', real_estate_broker, class: "btn btn-success" %>
          <%= link_to 'Editar', edit_real_estate_broker_path(real_estate_broker), class: "btn btn-secondary" %>
          <%= link_to 'Eliminar', real_estate_broker, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></h5>
        </div>
    </div>  
</div>