<p id="notice"><%= notice %></p>

<h1 class="py-4" align="center">Corredoras</h1>

<% @real_estate_brokers.each_slice(4) do |real_estates|%>
  <div class= "card-deck">
   <% real_estates.each do |real_estate| %>  
      <div class="card my-3" style="width: 18rem;">
        <%= image_tag real_estate.image.variant(resize: "100x100") if real_estate.image.attached?%> 
        <%= image_tag 'broker-default.svg'if !real_estate.image.attached?%> 
        <div class="card-body">
          <h5 class="card-title"><%= real_estate.name  %></h5>
          <h5 class="card-title"><%= real_estate.rut %></h5>
          <h5 class="card-title"><%= real_estate.agent %></h5>
          <h5 class="card-title"><%= real_estate.mail %></h5>
          <h5 class="card-title"><%= real_estate.phone %></h5>
          <%if real_estate.opinions.any?%>
          <h5 class="star-rating" data-score=<%= real_estate.average_opinion %>></h5>
          <%else%>
          <h3>Aun no hay reseñas sobre esta corredora, te gustaría dejar una?</h3>
          <%= link_to "Escribe una reseña", new_real_estate_broker_opinion_path(real_estate), class: "btn btn-danger" %>
          <%end%>
          <h5><%= link_to 'Show', real_estate, class: "btn btn-outline-primary" %>
          <%= link_to 'Edit', edit_real_estate_broker_path(real_estate, class: "btn btn-outline-primary") %>
          <%= link_to "Escribe una reseña", new_real_estate_broker_opinion_path(real_estate), class: "btn btn-danger" %>
          <%= link_to 'Destroy', real_estate, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
        </div>
      </div>    
    <% end %>
  </div>
<% end %>
        
<%= link_to 'New Real Estate Broker', new_real_estate_broker_path %>

<script>
  $('.star-rating').raty({
	  path: '/assets/',
	  readOnly: true,
	  score: function() {
	    return $(this).attr('data-score');
	    }
	});
</script>