<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col">
      <p>
        <strong>Name:</strong>
        <%= @real_estate_broker.name %>
      </p>
      <p>
        <strong>Rut:</strong>
        <%= @real_estate_broker.rut %>
      </p>
      <p>
        <strong>Agent:</strong>
        <%= @real_estate_broker.agent %>
      </p>

      <p>
        <strong>Mail:</strong>
        <%= @real_estate_broker.mail %>
      </p>
      <p>
        <strong>Phone:</strong>
        <%= @real_estate_broker.phone %>
      </p>
      <p>
        <strong>Image:</strong>
        <%= image_tag @real_estate_broker.image.variant(resize: "100x100") if @real_estate_broker.image.attached? %>
        <%= image_tag 'broker-default.svg', size: "60x60", class:"rounded" if !@real_estate_broker.image.attached?%> 
      </p>
    </div>
    <div class="col">
      <div class="star-rating" data-score=<%=@average_opinion %>></div>
        <p><%= "#{@opinions.length} reseñas"%></p>    
          <% if @opinions.blank? %>
            <h3>Aun no hay reseñas sobre esta corredora, te gustaría dejar una?</h3>
            <%= link_to "Escribe una reseña", new_real_estate_broker_opinion_path(@real_estate_broker), 'data-remote': true, class: "btn btn-danger" %>
          <% else %>
            <% @opinions.each do |opinion| %>
              <div class="reviews">
                <div class="star-rating" data-score=<%= opinion.rating %>></div>
                <p><%= opinion.comment %></p>
              </div>
            <% end %>
        	<% end %>
        <%= link_to 'Edita', edit_real_estate_broker_path(@real_estate_broker) %> |
        <%= link_to 'Back', real_estate_brokers_path %>
      </div>
    </div>
  </div>
</div>  
<%= render 'modal'%>
<script>
  $('.star-rating').raty({
	  path: '/assets/',
	  readOnly: true,
	  score: function() {
	    return $(this).attr('data-score');
	    }
	});
</script>
