<p id="notice"><%= notice %></p>
<br>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <p>
        <%= image_tag @real_estate_broker.image.variant(resize: "100x100") if @real_estate_broker.image.attached? %>
        <%= image_tag 'broker-default.svg', size: "60x60", class:"rounded" if !@real_estate_broker.image.attached?%> 
      </p>
      <p>
        <strong>Name:</strong><br>
        <%= @real_estate_broker.name %>
      </p>
      <p>
        <strong>Rut:</strong><br>
        <%= @real_estate_broker.rut %>
      </p>
      <p>
        <strong>Agent:</strong>
        <%= @real_estate_broker.agent %>
      </p>

      <p>
        <strong>Mail:</strong><br>
        <%= @real_estate_broker.mail %>
      </p>
      <p>
        <strong>Tel/Cel:</strong><br>
        <%= @real_estate_broker.phone %>
      </p>
      
        <%= link_to 'Edita la información de la corredora', edit_real_estate_broker_path(@real_estate_broker), class: "btn btn-info" %> 
    </div>
    <div class="col">
      <div class="star-rating" data-score=<%=@average_opinion %>></div>
        <p><%= "#{@opinions.length} reseñas"%></p>    
          <% if @opinions.blank? %>
            <h4>Aun no hay reseñas, te gustaría dejar una?</h4>
          <% else %>
            <% @opinions.each do |opinion| %>
              <div class="reviews">
                <div class="star-rating" data-score=<%= opinion.rating %>></div>
                <p><%= opinion.comment %></p>
              </div>
            <% end %>
        	<% end %>
        <%= link_to "Escribe una reseña", new_real_estate_broker_opinion_path(@real_estate_broker), 'data-remote': true, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>  
<br>
<div class="offset-md-10">
  <%= link_to 'Volver', real_estate_brokers_path, class: 'btn btn-primary' %>
</div>        
<%= render 'modal'%>
<script>
  $('.star-rating').raty({
	  path: '/assets/',
	  readOnly: true,
	  score: function() {
	    return $(this).attr('data-score');
	    }
	});
</script>
